.navbar {
  background-color: rgb(30, 30, 97);
  text-align: center;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0 0 15px 4px;
  margin: 2%;
  margin-top: 20px;
}

.nav-item {
  padding: 5px;
  border-radius: 30px 30px 30px 30px;
  transition-duration: 1s;
}

.nav-item:hover, .nav-item.active:hover {
  background-color: rgb(85, 115, 248);
  border-radius: 30px 30px 30px 30px;
  color: white;
}

.btn {
  margin: auto;
  margin-top: 70px;
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px; 
  min-width: 300px;
  font-size: 30px;
  border-radius: 15px 15px 15px 15px;
  color: white;
  background-color: rgb(30, 30, 97); 
  font-family: "Arial Black", Gadget, sans-serif;
  transition-duration: 0.75s;
}

.btn:hover, .dropdown-item:hover {
  background-color: rgb(85, 115, 248);
}

.btn:active {
  background-color: rgb(0, 0, 71);
}

body {
  background-color: silver;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid rgb(30, 30, 97);
  text-align: left;
  padding: 8px;
}

th {
  color: white;
  background-color: rgb(30, 30, 97);
}

tr:nth-child(even) {
  background-color: #cfcfcf;
}

tr {
  transition-duration: 0.25s;
}

tr:hover {
  background-color: #424242;
  color: white;
}

.container {
  background-color: white;
  border-radius: 30px 30px 30px 30px;
  border-color: rgb(30, 30, 97);
  border: 6px;
  padding: 40px;
  width: 100%;
  box-shadow: 0 0 15px 2px;
}
 
.container h2, .container h4 {
  text-align: center;
}

.footer {
  background-color: rgb(30, 30, 97);
  text-align: center;
  padding: 5px;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0 0 15px 4px;
  margin: 2%;
}

.footer p, a, a:hover {
  color: white;
}
  